---
import Step from "@/components/data-assessment/Step";
import StepIndicator from "@/components/data-assessment/StepIndicator";
import PersonalInfo from "@/components/data-assessment/PersonalInfo";
import StepNavigation from "@/components/data-assessment/StepNavigation";
import AssessItem from "@/components/data-assessment/AssessItem";

import { assessItems } from "@/components/data-assessment/StepProvider";
import Base from "@/layouts/Base.astro";

//
// Data-Readiness Assessment
//
// linker Teil: Fortschritts-Anzeige: Wo bin ich gerade? (StepIndicator)
// rechter Teil: Einzelne "Steps"
//
---

<!--AssessmentLayout title="Data Maturity Assessment"-->
<Base title={"Data Maturity Assessment"}>
  <section class="mt-4 mb-16">
    <div class="container">
      <div class="row justify-center">
        <!-- Step indicator for mobile phones! -->
        <!--nav class="nav-assessment">
          <StepIndicator client:only="react" />
        </nav-->

        <div class="step">
          <nav class="nav-assessment">
            <StepIndicator client:load />
          </nav>

          {
            assessItems.map((item, index) => (
              <Step step={index + 1} client:load>
                <AssessItem
                  questionId={index + 1}
                  item={item}
                  client:only="react"
                />
              </Step>
            ))
          }

          <Step step={assessItems.length + 1} client:idle>
            <PersonalInfo client:only="react" />
          </Step>

          <!-- Last step is on a separate page to track conversion for the AD! -->
          <!-- Last Step start  -->
          <!--Step step={assessItems.length + 2} client:idle>
            <article class="thank-you">
              <img
                src={`/images/data-assessment/icon-thank-you.svg`}
                alt="red check icon"
              />
              <h1>Vielen Dank!</h1>
              <p>
                Deine Antworten wurden erfolgreich erfasst! In Kürze erhältst
                per E-Mail das Ergebnis deiner Data-readiness!
              </p>
            </article>
          </Step-->
          <!-- Last Step end -->

          <!-- Add buttons for navigation for non-mobile phones -->
          <StepNavigation client:only="react" />
          <!--/AssessmentLayout-->
        </div>
      </div>
    </div>
    <!-- Navigation for mobile phones / small screens! -->
    <StepNavigation client:only="react" />
  </section>
</Base>
