---
// src/pages/assessment/thank-you.astro
import Base from "@/layouts/Base.astro";
---

<Base title={"Danke für deine Teilnahme"}>
  <section class="mt-16 mb-32">
    <div class="container">
      <div class="row justify-center">
        <div class="thank-you">
          <img
            src={`/images/data-assessment/icon-thank-you.svg`}
            alt="red check icon"
          />
          <h1>Vielen Dank!</h1>
          <p>
            Deine Antworten wurden erfolgreich erfasst! In Kürze erhältst du per
            E-Mail das Ergebnis deiner Data-readiness!
          </p>
        </div>
      </div>
    </div>
  </section>
</Base>
