---
import ImageMod from "@/components/ImageMod.astro";
import { humanize } from "@/lib/utils/textConverter";
import PageHeader from "./PageHeader.astro";

const { title, title_image } = Astro.props;
---

<!-- fallback to normal PageHeader if no image has been handed over!! -->{
  !title_image && <PageHeader title={title} />
}
<section>
  <div class="container text-center">
    <div
      class="relative-container rounded-2xl"
      style="position: relative; display: inline-block; overflow: hidden;"
    >
      {
        title_image && (
          <ImageMod
            class="mx-auto mb-6 rounded opacity-85"
            src={title_image}
            alt={title}
            width={1200}
            height={520}
            format="webp"
          />
        )
      }
      <!-- Text über dem Bild -->
      <div
        class="text-overlay"
        style="position: absolute; top: 20%; left: 50%; width: 100%; transform: translate(-50%, -50%);"
      >
        <h1 set:text={humanize(title)} />
      </div>
    </div>
  </div>
</section>
