---
import { humanize, slugify } from "@/lib/utils/textConverter";

const { categories, allCategories } = Astro.props;
---

<div class="lg:col-4 mt-16 lg:mt-0">
  <!-- categories -->
  <div class="mb-8">
    <h5 class="mb-6">Kategorien</h5>
    <div class="rounded bg-light p-8 dark:bg-darkmode-light">
      <ul class="space-y-4">
        {
          categories.map((category: string) => {
            const count = allCategories.filter(
              (c: string) => c === category,
            ).length;
            return (
              <li>
                <a
                  class="flex justify-between hover:text-primary dark:hover:text-darkmode-primary"
                  href={`/categories/${slugify(category)}/`}
                >
                  {humanize(category)} <span>({count})</span>
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
  </div>
</div>
