---
import { markdownify } from "@/lib/utils/textConverter";
const { text_image_text_block } = Astro.props;

// TextImageTextBlock
//
// renders left text | image (double width) | text right (on widescreen, otherwise elements are below each other)
//
// expects input of the form:

---

{
  (
    <section class="mb-16">
      <div class="container">
        <div class=" px-4 py-16 xl:p-12">
          <div class="row justify-between">
          <!--div class="row items-center justify-between "-->
            <div class="w-full md:w-1/2 mb-10 md:mb-0 md:pr-6 xl:pr-12">
            <!--div class="mb-10 md:col-6 md:order-2 md:mb-0"-->
              <h2
                set:html={markdownify(text_image_text_block.title_1)}
                class="mb-4 text-center"
              />
              <p
                set:html={markdownify(text_image_text_block.content_1)}
                class="mb-4 text-justify"
              />
            </div>
            <div class="w-full md:w-1/2 md:pl-6 xl:pl-12">
            <!-- div class="md:col-6 md:order-1" -->
              <h2
                set:html={markdownify(text_image_text_block.title_2)}
                class="mb-4 text-center"
              />
              <p
                set:html={markdownify(text_image_text_block.content_2)}
                class="mb-4 text-justify"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
