---
import Base from "@/layouts/Base.astro";
---

<Base title="Seite nicht gefunden">
  <section class="section-sm text-center">
    <div class="container">
      <div class="row justify-center">
        <div class="sm:col-10 md:col-8 lg:col-6">
          <span
            class="text-[8rem] block font-bold text-dark dark:text-darkmode-text-dark"
          >
            404
          </span>
          <h1 class="h2 mb-4">Diese Seite existiert nicht!</h1>
          <div class="content">
            <p>
              Die aufgerufene Seite wurde entfernt, ihre Adresse geändert oder
              ist aktuell nicht verfügbar.
            </p>
          </div>
          <a href="/" class="btn btn-primary mt-8">Zurück zur Start-Seite</a>
        </div>
      </div>
    </div>
  </section>
</Base>
