---
// Bestätigungsseite für Google Ads!
//
import Base from "@/layouts/Base.astro";
---

<Base title={"Bestätigung"}>
  <section class="mt-8 mb-8">
    <div class="container">
      <div class="row justify-center">
        <div class="thank-you text-center">
          <img
            src={`/images/data-assessment/icon-thank-you.svg`}
            alt="red check icon"
          />
          <h1>Vielen Dank</h1>
          <h3>
            <br />
            für das Interesse an Ihrer Weiterentwicklung mit ADV! <br />
            Wir freuen uns auf den gemeinsamen Termin.
          </h3>
        </div>
        <div class="mt-10 mb-10 col-12 flex justify-center">
          <a href="/" class="btn btn-outline-primary">Zurück zur Startseite</a>
        </div>
      </div>
    </div>
  </section>
</Base>
